@{
    ViewData["Title"] = "Home Page";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/css/AlertifyJS/alertify.min.js"></script>
<link href="~/css/AlertifyJS/css/alertify.css" rel="stylesheet" />

<script type="text/javascript">

    function handleData(data) {
        alertify.success('Ok');
        setTimeout(alertSuccess, 500);
    }
    function alertSuccess() {
        window.location.reload();
    }
    function deleteItem(item) {
        alertify.confirm("Are you sure to delete ?",
            function () {
                $.ajax({
                    url: '/Home/DeleteItem',
                    data: { file: item },
                    type: 'POST',
                    success: handleData
                });
            },
            function () {
                alertify.error('Cancel');
            });
    }

    function showItemData(data) {
        $('#exampleModalCenter').modal('show');
        if (data != null && data != undefined && data.length > 0) {

            var dataSet = new Array;
            for (var i = 0; i < data.length; i++) {
                var itemArray = [];
                itemArray.push(data[i].empID1);
                itemArray.push(data[i].empID2);
                itemArray.push(data[i].projectID);
                itemArray.push(data[i].days);

                dataSet.push(itemArray);
            }

            if ($.fn.DataTable.isDataTable('#resultTable')) {
                $('#resultTable').DataTable().destroy();
            }

            $('#resultTable').DataTable({
                data: dataSet,
                columns: [
                    { title: "EmpID1" },
                    { title: "EmpID2" },
                    { title: "ProjectID" },
                    { title: "Days" }
                ]
            });

        }
    }
    function showItem(item) {
        $.ajax({
            url: '/Home/ShowItem',
            data: { file: item },
            type: 'POST',
            success: showItemData
        });
    }

    $(document).ready(function () {
        var urlRequest = "/Home/GetListInfo"
        $.get(urlRequest, function (data) {
            var rows = '';
            $.each(data, function (index, item) {
                rows += "<tr>";
                rows += "<td>" + item.name + "</td>";
                rows += "<td>" + item.lenght + "</td>";
                rows += "<td>" + item.createDate + "</td>";
                rows += "<td>" + "<button onclick=deleteItem('" + item.path + "') type='button' class='btn btn-danger'>Delete</button>" + "</td>";
                rows += "<td>" + "<button onclick=showItem('" + item.path + "') type='button' class='btn btn-primary'>Show</button>" + "</td>";
                rows += "</tr>";
            });
            $('.InfoTBody').html(rows);
        }).done(function () {
            $('#TblInfo').DataTable();
        })

    })
</script>

<form method="post" enctype="multipart/form-data" asp-controller="FileUpload" asp-action="Index">
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload one or more files using this form:</p>
            <input type="file" name="files" multiple />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Upload" />
        </div>
    </div>
</form>

<br />
<br />

<div class="container">
    <div>
    </div>
    <table id="TblInfo" class="table table-bordered table-striped mt-4">
        <thead>
            <tr class="bg-primary text-light">
                <td>Name</td>
                <td>Lenght</td>
                <td>CreateDate</td>
                <td>Delete</td>
                <td>Show</td>
            </tr>
        </thead>
        <tbody class="InfoTBody">
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Pair Of Employees</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div>
                    </div>
                    <table id="resultTable" class="table table-bordered table-striped mt-4">
                        <thead>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
}